* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fee8e7;
    text-align: center;
}

nav.navbar ul {
    margin-left: 10px;
    margin-top: 15px;
    list-style-type: none;
    text-align: center;
}

nav.navbar li {
    float: left;
    margin-bottom: 30px;
}

nav.navbar li a {
    text-decoration: none;
    background: rgb(232, 44, 78);
    color: white;
    padding: 10px 20px;
    font-style: italic;
    font-size: large;
}
nav.navbar li a.active {
    color: rgb(0, 2, 161);
    font-weight: bold;
}

.main-content {
    clear: left;
    padding-top: 20px;
}

.shapes {
    margin-top: 20px;

}

.blue,
.red,
.purple,
.yellow {
    width: 25%;
    height: 100px;
    float: left;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.purple {
    background: purple;
}

.yellow {
    background: yellow;
}

.details {
    clear: left;
}

.container {
    margin: auto;
    padding: 20px;
    width: 80%;
    clear: left;
}

.gallery {
    margin-top: 20px;
}
.gallery .item {
    width: 25%;
    height: 370px;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 15px;
}

.gallery .item img {
    padding: 25px;
    width: 100%;
    height: auto;
    object-fit: fill;
}
.product-list{
    margin: 20px auto;
}
.product-list .item{
    width: 50%;
    height: 750px;
    float: left;
    overflow: hidden;
    margin: 15px 0;
}
.product-list .item img {
    padding: 25px;
    width: 100%;
    height: auto;
    object-fit: fill;
}
.footer {
    background: gray;
    padding: 10px;
    text-align: center;
    clear: left;
}
ul.learning-list{
    margin: 10px 30px;
    list-style-type: none;
}

.main-content h1{
    color:rgb(0, 2, 161);
}

.main-item h3{
    color:rgb(0, 2, 161);
}