* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

nav.navbar ul {
    margin-left: 10px;
    margin-top: 15px;
    list-style-type: none;
    text-align: center;
}

nav.navbar li {
    float: left;
    margin-bottom: 30px;
}

nav.navbar li a {
    text-decoration: none;
    background: plum;
    padding: 10px 20px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

.main-content {
    clear: left;
    padding-top: 20px;
}

.shapes {
    margin-top: 20px;

}

.blue,
.red,
.purple,
.yellow {
    width: 25%;
    height: 100px;
    float: left;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.purple {
    background: purple;
}

.yellow {
    background: yellow;
}

.details {
    clear: left;
}

.container {
    margin: auto;
    padding: 20px;
    width: 80%;
    background-color: rgb(243, 239, 235);
    clear: left;
}

.gallery {
    margin-top: 20px;
}

.gallery .item {
    width: 25%;
    height: 370px;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 15px;
}

.gallery .item img {
    padding: 25px;
    width: 100%;
    height: auto;
    object-fit: fill;
}

.footer {
    background: gray;
    padding: 10px;
    text-align: center;
    clear: left;
}
.learning-list{
    margin: 10px 30px;
}
.main-content h1{
    color:brown;
}

.main-item h3{
    color:rgb(134, 47, 47);
}